/* --- CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,body {
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}
nav {
    position: fixed;
    /* top: 0;   
    left: 0 ; */
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 5.9vw;
    padding: 2vw 10vw;
    justify-content: space-between;
}
nav #nav-part2 .nav-elem h5{
    text-transform: uppercase;
}
/* nav:hover #nav-bottom {
    height: 150%;
    bottom: -150%;
    background-color: black ; */
/* } */
#nav-part2 {
    display: flex;
    gap: 2vw;
    margin-top: 1vw;
    z-index: 10;
    position: relative;

}

#nav-part2 .nav-elem h5{
    font-size: 0.76vw;
    font-weight: 400;
    margin-bottom: 1vw;
    padding-bottom: 1vw;
}

#nav-bottom {
    background-color: rgb(0, 0, 0);
    /* height: 23vh; */
    width: 80%;
    position: absolute;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid white;
}
.nav-elem h4 {
    margin-bottom: 0.9vw;
    overflow: hidden;
    font-size: 0.8vw;
    font-weight: 200;
    display: none;
}

.nav-elem h4 span {
    display: inline-block;
}

nav button {
    padding: 10px 13px;
    background-color: #0BA34E;
    border-radius: 50px;
    align-items: center;
    border: none;
    font-size: 0.7vw;
    font-weight: 700;
}
nav button svg {
    height: 0.8vw;
    width: 1vw;
}
#page1 {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#page1 h1 {
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 900;
    line-height: 8.5vw;
    letter-spacing: 0.0001vw;
}

#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0BA34E;
    border-radius: 50%;
}

#page1 p {
    font-weight: 400;
    text-align: center;
    margin-top: 2vw;
}
#page1-rounded-icons {
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7vw;
    gap: 0.3vw;
}
#page1-rounded-icons h4{
    font-weight: 400;
    padding: 8px;
    border: 0.8px solid rgb(230, 224, 224);
    border-radius: 50px;
}

#page1-rounded-icons h4:nth-last-child(2){
    border: none;
    padding: 0%;
}

#moving-div {
    background-color: rgb(255, 155, 155);
    
}
#page2 {
    height: 100vh;
    width: 100%;
    background-color: black;
}